@import url("reset.css");
/* Lobster тип шрифту cursive */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Fira Mono тип шрифту monospace */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
/* Wander Over Yonder тип шрифту fantasy */
@font-face {
	font-family: "Wander Over Yonder";
	src: url("/fonts/WanderOverYonder.woff2") format('woff2'),
	url("/fonts/WanderOverYonder.woff") format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* CoquetteC тип шрифту fantasy */
@font-face {
	font-family: "CoquetteC";
	src: url("/fonts/CoquetteC.woff2") format('woff2'),
	url("/fonts/CoquetteC.woff") format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #5f5e59;
}

h1 {
	font-family: "Lobster", cursive;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	color: rgba(63, 150, 25, 0.5);
	text-shadow: 5px 5px 1px #023e09;
	margin: 0 0 20px 0;
}

.base__title,
.history__title,
.nature__title  {
	font-family: "Wander Over Yonder";
	font-size: 30px;
	font-weight: 500;
	color: blue;
	text-align: center;
}

.base__text {
	text-decoration: line-through;
	text-align: center;
}

.base__text span {
	font-weight: 900;
	color: green;
}

.history__text {
	text-decoration: overline;
	text-align: left;
	font-style: italic;
	color: #fff600;
}

.nature__list {
	font-family: "CoquetteC", fantasy;
	color: red;
	text-align: justify;
	text-transform: capitalize;
}

.nature__text {
	font-family: "Merriweather", serif;
	color: #000;
	text-align: right;
	text-decoration: underline;
	text-transform: lowercase;
	word-spacing: 15px;
}

.appearance__title,
.varieties__title,
.advantages__title {
	font-family: "Fira Mono", monospace;
	color: #ffa800;
	font-size: 25px;
	font-weight: 900;
	text-align: center;
}

.appearance__text{
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1.4;
	text-indent: 30px;
}

.varieties__text {
	text-align: right;
	letter-spacing: 10px;
}

.advantages__text {
	text-align: left;
	white-space: nowrap;
}

a {
	font-family: "CoquetteC", fantasy;
	font-size: 45px;
	font-weight: 900;
	color: #7b0c74;
	text-shadow: 5px 5px 3px#9f7b9d, 8px 8px 5px#f12e4e;
}
