@import "_reset.scss";
@import "_common.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap");

$mainColor: #000000;
$mainFontSize: 18px;
$mainFontWeight: 300;
$mainLineHeight: 1.5;
$mainFontFamily: "Oswald", sans-serif;

body{
	font-family: $mainFontFamily;
	color: $mainColor;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	line-height: $mainLineHeight;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1908px;
	margin: 0 auto;
	padding: 0px 15px;
}


.page {
	// .page__brands
	&__brands {}
}
.brands {
	// .brands__container
	&__container {}
	// .brands__title
	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 2.83;
		text-align: center;
		text-transform: uppercase;
		color: #000000;

	}
	// .brands__items
	&__items {
		/*display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 34px;
		border: 2px solid #C4C4C4;
		padding: 28px 10px;*/
		display: grid;
		column-gap: 35px;
		row-gap: 35px;
		align-items: center;
		justify-items: center;
		padding: 28px 10px;
		grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
		grid-auto-rows: 1fr;
		@media (max-width: 651.98px){
			//grid-template-columns: repeat(auto-fit, minmax(139px, 1fr));
		}
	}
}
.barnds {
	// .barnds__section
	&__section {}
}
.brand {
	// .brand__item
	&__item {
		display: block;
		position: relative;
		overflow: hidden;
		min-width: 100%; /* 235/1878 */
		min-height: 141px; 
		padding: 0 30px;
		@media (max-width: 1024px){
			border: 2px solid #C4C4C4;
		}
		// .brand__item_active
		&_active {
			background: #F0F2F2;
		}
		}
		&__image{
			position: absolute;
			max-width: 100%;
			max-height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: contain;
			@media (max-width: 991.98px){
				max-height: 21.818%;
			}
			@media (max-width: 991.98px) and (min-width: 659.98px){
				max-height: 31.818%;
			}
			@media (max-width: 659.98px){
				max-height: 21.818%;
			}
		}
	
	}












.page {
	// .page__signboard
	&__signboard {}
}
.signboard {
	// .signboard__container
	&__container {}
	// .signboard__section
	&__section {
		padding-top: 30px;
	}
	// .signboard__items
	&__items {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: 1878px) and (min-width: 320px){
			gap: calc( (100vw - 320px)/(1878 - 320) * (30 - 12) + 12px);
			}
		@media (max-width: 950px){
			grid-template-columns: 1fr;
		}
	}
	// .signboard__item
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: end;
		// .signboard__item_big
		&_big {
			grid-row: span 2;
			justify-content: start;
			padding-left: 86px; 
			padding-bottom: 103px;
			align-items: end;
			@media (max-width: 1878px) and (min-width: 320px){
				padding-left: calc( (100vw - 320px)/(1878 - 320) * (86 - 27) + 27px);
				padding-bottom: calc( (100vw - 320px)/(1878 - 320) * (103 - 34) + 34px);
				}
		}
		// .signboard__item_small
		&_small {
			justify-content: start;
		}
	}
	// .signboard__body
	&__body {
		position: relative;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: 64px;
		z-index: 1;
		@media (max-width: 1878px) and (min-width: 320px){
			padding-right: calc( (100vw - 320px)/(1878 - 320) * (64 - 18) + 18px);
			}
		// .signboard__body_big
		&_big {
			padding-top: 0; 
			padding-bottom: 0;
		}
		// .signboard__body_small
		&_small {
			padding-left: 10.17316%; /* 94/924 */
			padding-top: 26px;
			padding-bottom: 26px;
		}
	}
	// .signboard__title
	&__title {
		font-weight: 600;
		font-size: 48px;
		line-height: 129%;
		text-transform: uppercase;
		color: #000000;
		max-width: 369px;
		&:not(:last-child){
			margin-bottom: 7px;
		}
		@media (max-width: 1878px) and (min-width: 320px){
			line-height: calc( (100vw - 320px)/(1878 - 320) * (129 - 119) + 119%);
			font-size: calc( (100vw - 320px)/(1878 - 320) * (48 - 16) + 16px);
			max-width: calc( (100vw - 320px)/(1878 - 320) * (369 - 127) + 127px);
			&:not(:last-child){
				margin-bottom: calc( (100vw - 320px)/(1878 - 320) * (7 - 3) + 3px);
			}
		}
		// .signboard__title_big
		&_big {
			font-weight: 600;
			font-size: 96px;
			line-height: 115%;
			text-transform: uppercase;
			color: #131313;
			max-width: 357px;
			@media (max-width: 1878px) and (min-width: 320px){
				line-height: calc( (100vw - 320px)/(1878 - 320) * (115 - 112) + 112%);
				font-size: calc( (100vw - 320px)/(1878 - 320) * (96 - 26) + 26px);
				max-width: calc( (100vw - 320px)/(1878 - 320) * (357 - 97) + 97px);
			}
		}
	}
	// .signboard__subtitle
	&__subtitle {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 22px;
		line-height: 1.68;
		letter-spacing: 0.01em;
		color: #000000;
		&:not(:last-child){
			margin-bottom: 51px;
		}
		@media (max-width: 1878px) and (min-width: 320px){
			font-size: calc( (100vw - 320px)/(1878 - 320) * (22 - 10) + 10px);
			&:not(:last-child){
				margin-bottom: calc( (100vw - 320px)/(1878 - 320) * (51 - 9) + 9px);
			}
		}
	}
	// .signboard__button
	&__button {
		display: inline-block;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.5;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		border: 2px solid #000000;
		padding: 12px 18px;
		min-width: 175px;
		text-align: center;
		background-color: transparent;
	@media (max-width: 1878px) and (min-width: 320px){
		min-width: calc( (100vw - 320px)/(1878 - 320) * (175 - 85) + 85px);
		font-size: calc( (100vw - 320px)/(1878 - 320) * (18 - 10) + 10px);
		padding-top: calc( (100vw - 320px)/(1878 - 320) * (12 - 9) + 9px);
		padding-bottom: calc( (100vw - 320px)/(1878 - 320) * (12 - 9) + 9px);
		padding-right: calc( (100vw - 320px)/(1878 - 320) * (18 - 13) + 13px);
		padding-left: calc( (100vw - 320px)/(1878 - 320) * (18 - 13) + 13px);
	}
	}
	// .signboard__image
	&__image {
		padding-bottom: 46.969697%; /* 434/924 */
		// .signboard__image_big
		&_big {
			padding-bottom: 76.186147%; /* 898/924 */
		@media (max-width: 950px){
			padding-bottom: 95.186147%;
			}
		}
	}
	// .signboard__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

