@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1908px;
  margin: 0 auto;
  padding: 0px 15px;
}

.page__brands {
  padding-top: 50px;
}

.brands__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 2.83;
  min-width: 368px;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  position: absolute;
  top: -34px;
  left: 50%;
  z-index: 2;
}
.brands__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
  border: 2px solid #C4C4C4;
  padding: 28px 10px;
  background-color: #FFFFFF;
}

.barnds__section {
  position: relative;
}

.brand__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 235px;
  min-height: 141px;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.brand__item_active {
  background: #F0F2F2;
}
.brand__item:hover {
  background: #F0F2F2;
}
.page__baner {
  padding-top: 30px;
}

.baner__items {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 29px;
     -moz-column-gap: 29px;
          column-gap: 29px;
  row-gap: 30px;
}
.baner__item {
  position: relative;
}
.baner__item_big {
  grid-row: span 2;
}
.baner__image {
  position: relative;
  padding-bottom: 46.884848%;
  overflow: hidden;
}
.baner__image_big {
  padding-bottom: 97.106682%;
}
.baner__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.8s linear;
  transition: -webkit-transform 0.8s linear;
  -o-transition: transform 0.8s linear;
  transition: transform 0.8s linear;
  transition: transform 0.8s linear, -webkit-transform 0.8s linear;
}
.baner__img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.baner__body {
  position: absolute;
  top: 18.894009%;
  left: 53.138528%;
  max-width: 39.935065%;
}
.baner__body_big {
  position: absolute;
  top: 47.884187%;
  left: 9.297297%;
  max-width: 357px;
}
.baner__body_small {
  position: absolute;
  top: 115px;
  left: 94px;
  max-width: 39.935065%;
}
.baner__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #000000;
}
.baner__title:not(:last-child) {
  margin-bottom: 7px;
}
@media ((min-width: 768px) and (max-width: 1200px)) {
  .baner__title {
    font-size: 25px;
  }
}
@media ((min-width: 320px) and (max-width: 768px)) {
  .baner__title {
    font-size: 18px;
  }
}
.baner__title_big {
  font-weight: 600;
  font-size: 96px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #131313;
}
@media ((min-width: 768px) and (max-width: 1200px)) {
  .baner__title_big {
    font-size: 25px;
  }
}
@media ((min-width: 320px) and (max-width: 768px)) {
  .baner__title_big {
    font-size: 18px;
  }
}
.baner__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.68;
  letter-spacing: 0.01em;
  color: #000000;
}
.baner__subtitle:not(:last-child) {
  margin-bottom: 51px;
}
@media ((min-width: 768px) and (max-width: 1200px)) {
  .baner__subtitle {
    font-size: 18px;
  }
}
@media ((min-width: 320px) and (max-width: 768px)) {
  .baner__subtitle {
    font-size: 16px;
  }
}
.baner__button {
  border: 2px solid #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
  padding: 20px 40px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.baner__button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
