@import url("reset.css");
@import url("common.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body{
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
/*-----------------------------------*/
.grid-reviews__section {
	padding: 6.837607% 0px; /* 80/1170 */
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.grid-reviews__item:nth-child(1){
	grid-row: span 2;
}

.grid-reviews__item {
	position: relative;
	padding-bottom: 40.350877%; /* 230/570 */
	overflow: hidden;
}

.grid-reviews__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}

.grid-reviews__category {
	font-weight: 600;
}

.grid-reviews__title {
	display: block;
	max-width: 63.508772%; /* 362/570 */
	font-weight: 600;
	font-size: 28px;
	line-height: 1.25;
	color: #212B36;
}

.grid-reviews__body{
	position: absolute;
	top: 17.391304%; /* 40/230 */
	left: 7.017544%; /* 40/570 */
	z-index: 1;
}

.grid-reviews__body_big{
	position: absolute;
	top: 8.163265%; /* 40/490 */
	left: 7.017544%; /* 40/570 */
}
/*-----------------------------------*/
.page__latest-produts{
	background-color: #FAFAFA;
}

.products-latest__section,
.trending-products__section{
	padding: 10.25641% 0px; /* 120/1170 */
}

.products-latest__top:not(:last-child),
.trending-products__top:not(:last-child),
.latest-collections__top:not(:last-child),
.featured-products__top:not(:last-child){
	margin-bottom: 5.982906%; /* 70/1170 */
}

.top {
	max-width: 570px;
	margin: 0 auto;
	text-align: center;
}

.top__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.12;
	text-transform: capitalize;
}

.top__title:not(:last-child){
	margin-bottom: 15px;
}

.products-latest__grid {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template: 1fr / repeat( auto-fit, minmax(370px, 1fr));
	gap: 2.564103%; /* 30/1170 */
}

.products-latest__grid:not(:last-child){
	margin-bottom: 3.418803%; /* 40/1170 */
}

.grid-latest__item{
	display: flex;
	flex-direction: column;
	gap: 25px;
	border: 1px solid #E7E7E7;
	border-radius: 8px;
}

.grid-latest__body{
	padding-right: 20px;
	padding-left: 25px;
	flex: 1 1 auto;
}

.grid-latest__image {
	position: relative;
	padding-bottom: 78.804348%; /* 290/368 */
	overflow: hidden;
	border-radius: 7px 7px 0px 0px;
}

.grid-latest__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-latest__title {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: #212B36;
}

.grid-latest__title:not(:last-child){
	margin-bottom: 15px;
}

.grid-latest__text:not(:last-child){
	margin-bottom: 25px;
}

.grid-latest__bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 15px 0px;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

.grid-latest__bottom{
	padding-right: 20px;
	padding-left: 25px;
}

.grid-latest__right{
	display: flex;
	align-items: center;
	gap: 7px;
}

.grid-lates__price {
	font-weight: 600;
	color: #212B36;
}

.grid-latest-rating {
	position: relative;
	font-size: 20px;
	display: inline-block;
}

.grid-latest-rating::before {
	content: "★★★★★";
	display: block;
}

.simple-rating__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.simple-rating__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}

.simple-rating__label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: #fff;
}

.simple-rating__label::before {
	content: "★";
	display: block;
	transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
	color: #ffd300;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
	color: #ffef9f;
}

.products-latest__navigation{
	display: flex;
	justify-content: center;
}

.arrow__body {
	float: left;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 11.3px;
	flex: 0 1 84px;
	padding: 6px;
	border: 0.5px solid #E7E7E7;
	border-radius: 23px;
}

.arrow__left {
	background-color: #FFFFFF;
	border-radius: 50%;
	border: 1px solid #E7E7E7;
	width: 30px;
	height: 30px;
	position: relative;
}

.arrow__left::before{
	content: '';
	background: url(../image/latest/arrow-left.svg) 0 0 no-repeat;
	width: 12px;
	height: 10px;
	position: absolute;
	top: 10.5px;
	left: 9.5px;
}

.arrow__right::before{
	content: '';
	background: url(../image/latest/arrow-right.svg) 0 0 no-repeat;
	width: 12px;
	height: 10px;
	position: absolute;
	top: 10.5px;
	left: 9.5px;
}

.arrow__right {
	background: #3056D3;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: relative;
}
/*-----------------------------------*/
.trending-products__items {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	border: 1px solid #E7E7E7;
	border-radius: 10px;
}
.trending-products__card {
	display: flex;
	flex-direction: column;
	padding: 6.42% 6.42% 10.47% 6.42%;
	border-bottom: 1px solid #E7E7E7;
}

.trending-products__card:nth-child(1){
	border-right: 1px solid #E7E7E7;
}

.trending-products__card:nth-child(3n+1){
	border-right: 1px solid #E7E7E7;
}

.trending-products__card:nth-child(3){
	border-left: 1px solid #E7E7E7;
}

.trending-products__card:nth-child(3n+3){
	border-left: 1px solid #E7E7E7;
}

.trending-products__card:nth-last-child(-n+3){
	border-bottom: none;
}

.trending-products__image {
	position: relative;
	padding-bottom: 76.470588%; /* 260/340 */
	overflow: hidden;
	border-radius: 6px;
}

.trending-products__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.trending-products__image:not(:last-child){
	margin-bottom: 24px;
}

.trending-products__price {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: #212B36;
}

.trending-products__price:not(:last-child){
	margin-bottom: 10px;
}

.trending-products__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.25;
	color: #212B36;
}

.trending-products__title:not(:last-child){
	margin-bottom: 8px;
}

.trending-products__raiting {
	display: flex;
	align-items: center;
	gap: 10px;
}

.trending-products__form{
	position: relative;
	font-size: 16px;
	display: inline-block;
}

.trending-products__form::before {
	content: "★★★★★";
	display: block;
}

.trending-rating__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.trending-rating__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}

.trending-rating__label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: #fff;
}

.trending-rating__label::before {
	content: "★";
	display: block;
	transition: color 0.3s ease 0s;
}

.trending-rating__item:checked,
.trending-rating__item:checked ~ .trending-rating__label {
	color: #ffd300;
}

.trending-rating__label:hover,
.trending-rating__label:hover ~ .trending-rating__label,
.trending-rating__label:checked ~ .trending-rating__label:hover {
	color: #ffef9f;
}
/*-----------------------------------*/
.latest-collections__card{
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	gap: 30px;
}

.latest-collections__item{
	display: flex;
	flex-direction: column;
}

.top__link{
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	color: #3056D3;
}

.top__link:not(:last-child){
	margin-bottom: 8px;
}

.latest-collections__image{
	position: relative;
	padding-bottom: 111.111111%; /* 300/270 */
	overflow: hidden;
	border-radius: 5px;
}

.latest-collections__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.latest-collections__image:not(:last-child){
	margin-bottom: 20px;
}

.latest-collections__body{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.latest-collections__title{
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: #212B36;
}

.latest-collections__price{
font-weight: 700;
color: #3056D3;
}
/*-----------------------------------*/
.featured-products__top{
	padding-top: 10.25641%; /* 120/1170 */
}

.featured-products__card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, minmax(513px,1fr));
	gap: 30px;
}

.featured-products__item:nth-child(1){
	grid-column-start: 1;
   grid-column-end: 3;
}

.featured-products__item:nth-child(4){
	grid-column-start: 2;
   grid-column-end: 3;
}

.featured-products__image:nth-child(1){
		padding-bottom: 52.245509%; /* 349/668 */
}
.featured-products__image:nth-child(4){
	padding-bottom: 52.245509%; /* 349/668 */
}

.featured-products__item {
	display: flex;
	flex-direction: column;
	border: 1px solid #E7E7E7;
	border-radius: 8px;
}

.featured-products__image{
	position: relative;
	padding-bottom: 74.57265%; /* 349/468 */
	overflow: hidden;
	border-radius: 5px;
}

.featured-products__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.featured-products__body {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 30px;
}

.featured-products__category {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.category__item {
	font-weight: 600;
}
.category__sale {
	font-weight: 600;
	color: #3056D3;
}
.featured-products__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 1.25;
	color: #212B36;
}
.featured-products__price {
	display: flex;
	align-items: center;
	gap: 10px;
}
.price {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
}
.price__main {
	color: #B1B4B7;
	text-decoration: line-through;
}
.price__sale {
	color: #212B36;
}

/*-----------------------------------*/
@media (max-width:1050.98px){
	.trending-products__card:nth-child(1){
	border-right: none;
}

.trending-products__card:nth-child(3n+1) {
	border-right: none;
} 
.trending-products__card:nth-child(odd){
	border-right: 1px solid #E7E7E7;;
}

.trending-products__card:nth-child(3){
	border-left: none;
}

.trending-products__card:nth-child(3n+3){
	border-left: none;
}

.trending-products__card:nth-last-child(n+3){
	border-bottom: 1px solid #E7E7E7;
}
}

@media (max-width:711.98px){
.trending-products__card:nth-child(odd){
	border-right: 1px solid #E7E7E7;
}

.trending-products__card:nth-last-child(n+3){
	border-bottom: 1px solid #E7E7E7;
}
}

@media (max-width: 799.98px){
	.products-latest__grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	.grid-reviews__section {
		gap: 20px;
	}
}

@media (max-width: 712.98px){
	.trending-products__items {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 690.98px){
	.grid-reviews__section {
		grid-template-columns: 1fr;
	}

	.grid-reviews__item:nth-child(1) {
		padding-bottom: 74.25%;
	}

	.grid-reviews__item:nth-child(3n+1) {
		padding-bottom: 74.25%;
		background-color: yellow;
	}

}

@media (min-width: 690.98px) {
	.grid-reviews__item:nth-child(1) {
		grid-row: span 2;
	}

	.grid-reviews__item:nth-child(3n+1) {
		grid-row: span 2;
	}

	.grid-reviews__section {
	grid-auto-rows: 1fr;
	}
}


@media (max-width: 576.98px){
	.products-latest__grid {
		grid-template-columns: 1fr;
	}

	.trending-products__items {
		grid-template-columns: 1fr;
	}

	.trending-products__card:nth-child(odd){
		border-right: none;
	}
	
	.trending-products__card:nth-last-child(n+2){
		border-bottom: 1px solid #E7E7E7;
	}
	.latest-collections__card{
		grid-template-columns: 1fr;
	}
}


@media (max-width: 365.98px){
	.trending-products__items {
		grid-template-columns: 1fr;
	}
}


@media (min-width: 320px) and (max-width: 1024px) {
	.grid-reviews__title{
			font-size: calc(14px + (20 - 14) * ( (100vw - 320px) / ( 1024 - 320) ));
	}
	.grid-latest__title {
		font-size: calc(16px + (20 - 16) * ( (100vw - 320px) / ( 1024 - 320) ));
	}

	.grid-latest__text,
	.grid-latest__rating,
	.grid-latest__rating-link,
	.grid-lates__price,
	.top__subtitle,
	.trending-products__link,
	.latest-collections__price,
	.latest-collections__text{
		font-size: calc(14px + (16 - 14) * ( (100vw - 320px) / ( 1024 - 320) ));
	}

	.top__title{
		font-size: calc(25px + (40 - 25) * ( (100vw - 320px) / ( 1024 - 320) ));
	}

	.trending-products__price,
	.latest-collections__title{
		font-size: calc(16px + (20 - 16) * ( (100vw - 320px) / ( 1024 - 320) ));
	}
	.trending-products__title{
		font-size: calc(18px + (24 - 18) * ( (100vw - 320px) / ( 1024 - 320) ));
	}
}

