@import url("reset.css");
@import url("common.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body{
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
/*-----------------------------------*/
.grid-reviews__section {
	padding: 80px 0px;
	display: grid;
	grid-template: repeat(2, max(230px)) / repeat(2, 1fr);
	gap: 30px;
}

.grid-reviews__item:nth-child(1){
	grid-row: span 2;
}

.grid-reviews__item {
	position: relative;
	padding-bottom: 40.350877%; /* 230/570 */
	overflow: hidden;
}

.grid-reviews__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-reviews__category {
	font-weight: 600;
	max-width: 362px;
}

.grid-reviews__title {
	display: block;
	max-width: 362px;
	font-weight: 600;
	font-size: 28px;
	line-height: 1.25;
	color: #212B36;
}

.grid-reviews__body{
	position: absolute;
	top: 40px;
	left: 40px;
}
/*-----------------------------------*/
.page__latest-produts{
	padding: 120px 0px;
	background-color: #FAFAFA;
}

.products-latest__top:not(:last-child){
	margin-bottom: 70px;
}

.top {
	max-width: 570px;
	margin: 0 auto;
	text-align: center;
}

.top__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.12;
	text-transform: capitalize;
}

.top__title:not(:last-child){
	margin-bottom: 15px;
}

.products-latest__grid {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template: 1fr / repeat(3, 1fr);
	gap: 30px;
}

.grid-latest__item{
	display: flex;
	flex-direction: column;
	gap: 25px;
	border: 1px solid #E7E7E7;
}

.grid-latest__body{
	padding-right: 20px;
	padding-left: 25px;
}

.grid-latest__image {
	position: relative;
	padding-bottom: 78.804348%; /* 290/368 */
	overflow: hidden;
	border-radius: 7px 7px 0px 0px;
}

.grid-latest__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-latest__title {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: #212B36;
}

.grid-latest__title:not(:last-child){
	margin-bottom: 15px;
}


.grid-latest__text:not(:last-child){
	margin-bottom: 25px;
}

/*.grid-latest__bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 65px;
	padding: 15px 0px;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}*/

/*.grid-latest__rating{
	position: relative;
	padding-left: 110px;
}

.grid-latest__rating::before{
	content: '';
	background: url(../image/latest/star.svg) 0 0 no-repeat;
	width: 108px;
	height: 20px;
	position: absolute;
	top: 2px;
	left: 0;
}
*/
.grid-lates__price {
	font-weight: 600;
	color: #212B36;
}



.grid-latest-rating{
	position: relative;
	font-size: 20px;
	display: inline-block;
}

.grid-latest-rating::before {
	content: "★★★★★";
	display: block;
}

.grid-latest__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.grid-latest__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}

.grid-latest__label {
	flex: 0 0 20px;
	height: 100%;
	cursor: pointer;
	color: #fff;
}

.grid-latest__label::before {
	content: "★";
	display: block;
	transition: color 0.3s ease 0s;
}

.grid-latest__item:checked,
.grid-latest__item:checked ~ .grid-latest__label {
	color: #ffd300;
}

.grid-latest__label:hover,
.grid-latest__label:hover ~ .grid-latest__label,
.grid-latest__label:checked ~ .grid-latest__label:hover {
	color: #ffef9f;
}


























/*-----------------------------------*/
@media (max-width: 768.98px){
	.page__reviews {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.grid-reviews__item:nth-child(1){
		grid-row: span 1;
	}
}