@import url("reset.css");
@import url("common.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body{
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
/*-----------------------------------*/
.grid-reviews__section {
	padding: 6.837607% 0px; /* 80/1170 */
	display: grid;
	grid-template-rows: repeat(grid-auto-rows, minmax(230px, 1fr));
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.grid-reviews__item:nth-child(1){
	grid-row: span 2;
}

.grid-reviews__item {
	position: relative;
	padding-bottom: 40.350877%; /* 230/570 */
	overflow: hidden;
}

.grid-reviews__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}

.grid-reviews__category {
	font-weight: 600;
}

.grid-reviews__title {
	display: block;
	max-width: 63.508772%; /* 362/570 */
	font-weight: 600;
	font-size: 28px;
	line-height: 1.25;
	color: #212B36;
}

.grid-reviews__body{
	position: absolute;
	top: 17.391304%; /* 40/230 */
	left: 7.017544%; /* 40/570 */
	z-index: 1;
}

.grid-reviews__body_big{
	position: absolute;
	top: 8.163265%; /* 40/490 */
	left: 7.017544%; /* 40/570 */
}
/*-----------------------------------*/
.page__latest-produts{
	background-color: #FAFAFA;
}

.products-latest__section{
	padding: 10.25641% 0px; /* 120/1170 */
}

.products-latest__top:not(:last-child){
	margin-bottom: 5.982906%; /* 70/1170 */
}

.top {
	max-width: 570px;
	margin: 0 auto;
	text-align: center;
}

.top__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.12;
	text-transform: capitalize;
}

.top__title:not(:last-child){
	margin-bottom: 15px;
}

.products-latest__grid {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template: 1fr / repeat( auto-fit, minmax(370px, 1fr));
	gap: 30px;
}

.products-latest__grid:not(:last-child){
	margin-bottom: 3.418803%; /* 40/1170 */
}

.grid-latest__item{
	display: flex;
	flex-direction: column;
	gap: 25px;
	border: 1px solid #E7E7E7;
	border-radius: 8px;
}

.grid-latest__body{
	padding-right: 20px;
	padding-left: 25px;
}

.grid-latest__image {
	position: relative;
	padding-bottom: 78.804348%; /* 290/368 */
	overflow: hidden;
	border-radius: 7px 7px 0px 0px;
}

.grid-latest__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-latest__title {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: #212B36;
}

.grid-latest__title:not(:last-child){
	margin-bottom: 15px;
}


.grid-latest__text:not(:last-child){
	margin-bottom: 25px;
}

.grid-latest__bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 15px 0px;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

.grid-latest__right{
	display: flex;
	align-items: center;
	gap: 7px;
}

.grid-lates__price {
	font-weight: 600;
	color: #212B36;
}

.grid-latest-rating {
	position: relative;
	font-size: 20px;
	display: inline-block;
}

.grid-latest-rating::before {
	content: "★★★★★";
	display: block;
}

.simple-rating__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.simple-rating__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}

.simple-rating__label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: #fff;
}

.simple-rating__label::before {
	content: "★";
	display: block;
	transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
	color: #ffd300;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
	color: #ffef9f;
}



.products-latest__navigation{
	display: flex;
	justify-content: center;
}

.arrow__body {
	float: left;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 11.3px;
	flex: 0 1 84px;
	padding: 6px;
	border: 0.5px solid #E7E7E7;
	border-radius: 23px;
}

.arrow__left {
	background-color: #FFFFFF;
	border-radius: 50%;
	border: 1px solid #E7E7E7;
	width: 30px;
	height: 30px;
	position: relative;
}

.arrow__left::before{
	content: '';
	background: url(../image/latest/arrow-left.svg) 0 0 no-repeat;
	width: 12px;
	height: 10px;
	position: absolute;
	top: 10.5px;
	left: 9.5px;
}

.arrow__right::before{
	content: '';
	background: url(../image/latest/arrow-right.svg) 0 0 no-repeat;
	width: 12px;
	height: 10px;
	position: absolute;
	top: 10.5px;
	left: 9.5px;
}

.arrow__right {
	background: #3056D3;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: relative;
}
/*-----------------------------------*/
/*@media (max-width: 1200.98px){
	.grid-reviews__section {
		grid-template: repeat(auto-fit, minmax(230px, 1fr)) / repeat(auto-fit, minmax(400px, 1fr));
	}
}*/

/*@media (max-width: 999.98px){
	.grid-reviews__section {
		grid-template-columns: 1fr;
	}
}*/

@media (max-width: 799.98px){
	.products-latest__grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	.grid-reviews__section {
		gap: 20px;
	}
}

@media (max-width: 690.98px){
	.grid-reviews__section {
		grid-template-columns: 1fr;

	}
	}

@media (max-width: 576.98px){
	.products-latest__grid {
		grid-template-columns: 1fr;
		gap: 20px;
	}
}

@media (min-width: 320px) and (max-width: 1024px) {
	.grid-reviews__title{
			font-size: calc(14px + (20 - 14) * ( (100vw - 320px) / ( 1024 - 320) ));
	}
	.grid-latest__title {
		font-size: calc(16px + (20 - 16) * ( (100vw - 320px) / ( 1024 - 320) ));
	}

	.grid-latest__text,
	.grid-latest__rating,
	.grid-latest__rating-link,
	.grid-lates__price,
	.top__subtitle{
		font-size: calc(14px + (16 - 14) * ( (100vw - 320px) / ( 1024 - 320) ));
	}

	.top__title{
		font-size: calc(25px + (40 - 25) * ( (100vw - 320px) / ( 1024 - 320) ));
	}
}