@import url("reset.css");

.title {
	color: red;
	font-size: 50px;
	text-align: center;
}

.basic_title, 
.origin_title,
.ecology_title,
.link_title {
	color: blue;
	font-size: 25px;
}
.basic_text {
	color: green;
}

.origin_text {
	color: purple;
}

.ecology_text {
	color: rgb(251, 222, 8);
}

.ecology_list p{
	color: red;
}

li {
	color: rgb(29, 141, 239);
}
a{
	color: red;
}