@import "_reset.scss";
@import "_common.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap");

$mainColor: #000000;
$mainFontSize: 18px;
$mainFontWeight: 300;
$mainLineHeight: 1.5;
$mainFontFamily: "Oswald", sans-serif;

body{
	font-family: $mainFontFamily;
	color: $mainColor;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	line-height: $mainLineHeight;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1908px;
	margin: 0 auto;
	padding: 0px 15px;
}


.page {
	// .page__signboard
	&__signboard {}
}
.signboard {
	// .signboard__container
	&__container {}
	// .signboard__section
	&__section {
		padding-top: 32px;
	}
	// .signboard__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}
	// .signboard__item
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: end;
		overflow: hidden;
	}
	&__item:nth-child(2){
		grid-row: span 2;
		justify-content: start;
		padding-left: 86px; 
		padding-bottom: 103px;
		align-items: end;
		@media (max-width: 1878px) and (min-width: 320px){
			padding-left: calc( (100vw - 320px)/(1878 - 320) * (86 - 27) + 27px);
			padding-bottom: calc( (100vw - 320px)/(1878 - 320) * (103 - 34) + 34px);
		}
	}
	&__item:nth-child(3n+2){
		grid-row: span 2;
		justify-content: start;
		padding-left: 86px; 
		padding-bottom: 103px;
		align-items: end;
		@media (max-width: 1878px) and (min-width: 320px){
			padding-left: calc( (100vw - 320px)/(1878 - 320) * (86 - 27) + 27px);
			padding-bottom: calc( (100vw - 320px)/(1878 - 320) * (103 - 34) + 34px);
		}
	}
	&__item:nth-child(3){
		padding-left: 10.17316%; /* 94/924 */
		padding-top: 22.5px;
		padding-bottom: 22.5px;
		justify-content: start;
	}
	&__item:nth-child(3n+3){
		padding-left: 10.17316%; /* 94/924 */
		padding-top: 22.5px;
		padding-bottom: 22.5px;
		justify-content: start;
	}
	// .signboard__body
	&__body {
		position: relative;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: 64px;
		z-index: 1;
		@media (max-width: 1878px) and (min-width: 320px){
			padding-right: calc( (100vw - 320px)/(1878 - 320) * (64 - 18) + 18px);
			}
	}
// .signboard__title
	&__title {
		font-weight: 600;
		font-size: 48px;
		text-transform: uppercase;
		color: #000000;
		max-width: 369px;
		&:not(:last-child){
			margin-bottom: 7px;
		}
		@media (max-width: 1878px) and (min-width: 320px){
			font-size: calc( (100vw - 320px)/(1878 - 320) * (48 - 16) + 16px);
			max-width: calc( (100vw - 320px)/(1878 - 320) * (369 - 127) + 127px);
			&:not(:last-child){
				margin-bottom: calc( (100vw - 320px)/(1878 - 320) * (7 - 3) + 3px);
			}
		}
	}
	&__title:nth-child(2){
			font-weight: 600;
			font-size: 96px;
			text-transform: uppercase;
			color: #131313;
			max-width: 357px;
			@media (max-width: 1878px) and (min-width: 320px){
				font-size: calc( (100vw - 320px)/(1878 - 320) * (96 - 26) + 26px);
				max-width: calc( (100vw - 320px)/(1878 - 320) * (357 - 97) + 97px);
			}
	}
	&__title:nth-child(3n+2){
		font-weight: 600;
		font-size: 96px;
		text-transform: uppercase;
		color: #131313;
		max-width: 357px;
		@media (max-width: 1878px) and (min-width: 320px){
			font-size: calc( (100vw - 320px)/(1878 - 320) * (96 - 26) + 26px);
			max-width: calc( (100vw - 320px)/(1878 - 320) * (357 - 97) + 97px);
		}
}
	// .signboard__subtitle
	&__subtitle {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 22px;
		line-height: 1.68;
		letter-spacing: 0.01em;
		color: #000000;
		&:not(:last-child){
			margin-bottom: 51px;
		}
		@media (max-width: 1878px) and (min-width: 320px){
			font-size: calc( (100vw - 320px)/(1878 - 320) * (22 - 10) + 10px);
			&:not(:last-child){
				margin-bottom: calc( (100vw - 320px)/(1878 - 320) * (51 - 9) + 9px);
			}
		}
	}
	// .signboard__button
	&__button {
		display: inline-block;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.5;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		border: 2px solid #000000;
		padding: 12px 18px;
		min-width: 175px;
		text-align: center;
		background-color: transparent;
		transition: all 0.3s ease;
		@media (any-hover:hover){
			&:hover{
				background-color: #000000;
				color: #FFFFFF;
			}
		}
	@media (max-width: 1878px) and (min-width: 320px){
		min-width: calc( (100vw - 320px)/(1878 - 320) * (175 - 85) + 85px);
		font-size: calc( (100vw - 320px)/(1878 - 320) * (18 - 10) + 10px);
		padding-top: calc( (100vw - 320px)/(1878 - 320) * (12 - 9) + 9px);
		padding-bottom: calc( (100vw - 320px)/(1878 - 320) * (12 - 9) + 9px);
		padding-right: calc( (100vw - 320px)/(1878 - 320) * (18 - 13) + 13px);
		padding-left: calc( (100vw - 320px)/(1878 - 320) * (18 - 13) + 13px);
	}
	}
	// .signboard__image
	&__image {
		padding-bottom: 46.969697%; /* 434/924 */
	}
	// .signboard__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		transition: transform 0.5s linear;
		@media (any-hover:hover){
			&:hover{
				transform: scale(1.2);
			}
	}
}
}
