@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

body {
	background-color: #E5E5E5;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.8;
	color: #6C757D;
}

.wrapper {
	padding: 15px 15px 29px;
}

.conteiner {
	max-width: 1240px;
	margin: 0 auto;
}

.first__page{
	max-width: 860px;
	margin: 0 auto 80px;
}

.fist__title {
	max-width: 400px;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
	margin-bottom: 40px;
}

.first__text p,
.second__text p,
.second__text-bottom p {
	margin-bottom: 30px;
}

.first__text p:last-child,
.second__text p:last-child,
.second__text-bottom p:last-child {
	margin-bottom: 0px;
}

.first__img{
	margin-bottom: 80px;
	font-size: 0;
}

.image {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 14px;
}

.fist__subtitle{
	max-width: 605px;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
	margin-bottom: 40px;
}

.image__1 {
	width: 50%;
	padding-right: 15px;
	border-radius: 5px;
	font-size: 14px;
}

.image__2 {
	width: 50%;
	padding-left: 15px;
	border-radius: 5px;
	font-size: 14px;
}


.second__img{
	margin-bottom: 100px;
	font-size: 0;
}

.image__second {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	font-size: 14px;
}

.second__page{
	max-width: 860px;
	margin: 0 auto 100px;
}
.second__text{
	margin-bottom: 100px;
}

.second__title{
	max-width: 605px;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
	margin-bottom: 100px;
}

.second__page-bottom {
	max-width: 860px;
	margin: 0 auto 29px;
}

/*Відпрацювання CSS властивостей оформлення блоків*/

.lesson__title {
	font-size: 50px;
	font-weight: 700;
	color: black;
	text-align: center;
}
.border,
.outline,
.border__radius,
.box__shadow,
.box__opacity,
.box__visibility {
	margin-bottom: 30px;
}

.block__border {
	background-color: blue;
	color: #fff;
	font-size: 20px;
	border: 5px solid red;
	margin-bottom: 20px;

}

.inline__border {
	background-color: yellow;
	color: #fff;
	font-size: 20px;
	border: 5px dashed green;
}

.inline__block-border{
	max-width: 300px;
	border: 10px dotted black;
	margin-top: 20px;
}

.block__outline {
	background-color: blue;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
	outline: 5px dashed green;

}

.inline__outline {
	background-color: yellow;
	color: #fff;
	font-size: 20px;
	outline: 8px dotted rgb(70, 0, 128);

}

.inline__block-outline{
	max-width: 300px;
	margin-top: 20px;
	outline: 5px solid red;
}

.block__radius {
	background-color: blue;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
	border-radius: 30px;

}

.inline__radius {
	background-color: yellow;
	color: #fff;
	font-size: 20px;
	border-radius: 50px;
	
}

.inline__block-radius{
	width: 300px;
	height: 300px ;
	margin-top: 20px;
	border-radius: 50%;
}

.block__shadow {
	background-color: blue;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
	box-shadow:  5px 8px 0px 5px #000;
	

}

.inline__shadow {
	background-color: yellow;
	color: #fff;
	font-size: 20px;
	box-shadow: 3px 5px 20px 1px #000; 
	
}

.inline__block-shadow{
	max-width: 300px;
	margin-top: 20px;
	box-shadow: 0px 0px 20px 0px #000; 
}

.block__opacity {
	background-color: blue;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
	opacity: 0.8;
}

.inline__opacity {
	background-color: yellow;
	color: #fff;
	font-size: 20px;
	opacity: 0.2;	
}

.inline__block-opacity{
	max-width: 300px;
	margin-top: 20px;
	opacity: 0.5;
}

.block__visibility {
	background-color: blue;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
	
}

.inline__visibility {
	background-color: yellow;
	color: #fff;
	font-size: 20px;
	visibility: hidden;
}

.inline__block-visibility{
	max-width: 300px;
	margin-top: 20px;
	
}